mixin ul(className, modificator, items)
    ul(class=`${className} ${className}--${modificator}`)
        each link, item in items
            li(class=`${className}__item`)
                a(class=`${className}__link`, href=`${link}`, target='_blank')
                    svg(class=`${className}__icon ${className}__icon--${item}`)
                        use(xlink:href="assets/images/sprite.svg#icons--" + item)

mixin nav(className, items)
    nav(class=`${className}`)
        ul(class=`${className}__list`)
            each link, item in items
                li(class=`${className}__item`)
                    a(class=`${className}__link`, href=`${link}`)=item

mixin sectionTitle(svg, title, modificator)
    .c-section-title(class=`c-section-title--${modificator}`)
        svg.c-section-title__img
            use(xlink:href="assets/images/sprite.svg#icons--" + svg)
        h2.c-section-title__text=title

mixin blockTitle(title, modificator)
    .c-block-title__wrapper
        .c-block-title(class=`c-block-title--${modificator}`)
            h4.c-block-title__text.js-slider-subtitle= title
mixin skillsList(items)
    ul.l-skills-list
        each item, modificator in items
            li.c-skills-list__item
                .c-skill
                    svg.c-skill__circle
                        circle.c-skills__circle-under(cx="50%" cy="50%" r="50")
                        circle.c-skills__circle-above(class=`c-skills__circle-above--${modificator}` cx="50%" cy="50%" r="50" transform="rotate(-90 60 60)")
                    h6.c-skill__title=item

mixin leftTriangle(modificator)
    svg.c-triangle.c-triangle__left(class=`c-triangle--${modificator}` viewbox="0 0 1000 150" preserveAspectRatio="none")
        polygon(points="0,0 0,150 1000, 150")

mixin rightTriangle(modificator)
    svg.c-triangle.c-triangle__right(class=`c-triangle--${modificator}` viewbox="0 0 1000 150" preserveAspectRatio="none")
        polygon(points="0,150 1000,150 1000,0")

mixin arrow(modificator)
    svg.c-arrow#arrow(class=`c-arrow--${modificator}` viewBox="0 0 25.18 16.164")
        use(xlink:href="assets/images/sprite.svg#icons--arrow_down")

mixin form(className, items, textarea)
    form(class=`${className}`, method='post', action='')
        each type, item in items
            fieldset(class=`${className}__item`)
                label(class=`${className}__lebel`)
                    input(class=`${className}__input`, name=type, type=type,  placeholder=item, required)
        each type, item in textarea
            fieldset(class=`${className}__item`)
                label(class=`${className}__lebel`)
                    textarea(class=`${className}__textarea`, name=type, placeholder=item)
mixin checkbox(item, text, type, value)
    div(class=`c-checkbox`)
        div(class=`c-checkbox__box c-checkbox__box--${type}`)
            input(class=`c-checkbox__input c-checkbox__${item}`, value=value, name=item, type=type)
            label(class=`c-checkbox__label`)
        p(class=`c-checkbox__text`)=text